version: '3'

services:
  web:
    build: .docker/php
    container_name: app-phpfpm
    depends_on:
      - db
    volumes:
      - ./:/app
      - .docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini

  nginx:
    image: nginx:1.18-alpine
    container_name: app-webserver
    ports:
      - 5000:8000
    volumes:
      - .docker/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./:/app
    depends_on:
      - web

  db:
    image: mariadb:10.5
    container_name: app-db
    restart: always
    environment:
      - MYSQL_DATABASE=${DB_DATABASE}
      - MYSQL_ROOT_PASSWORD=${DB_USERNAME}
      - MYSQL_USER=${DB_USERNAME}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    ports:
      - 3307:3306
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata: